body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
}

h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.content-box {
    background: #ffffff;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.career-img {
   width: 40%;
   height: auto;
}

.info-img {
    width: 40%;
    height: auto;
 }

 .bgu-img {
    width: 40%;
    height: auto;
 }

 .uniform-img {
    width: 60%;
    height: auto;
 }

 .staff-img {
    width: 70%;
    height: auto;
 }

 .staff-img {
    width: 70%;
    height: auto;
 }

 .event-img {
    width: 70%;
    height: auto;
 }

 .spaces-img {
    width: 70%;
    height: auto;
 }

 .sports-img {
    width: 70%;
    height: auto;
 }

 .brig-img {
    width: 50%;
    height: auto;
    
 }

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
}
